[defaults]
forks = 10
host_key_checking = false
any_errors_fatal=true
#vault_password_file = .vault_password
show_custom_stats = true
collections_path=~/.ansible/collections:/usr/share/ansible/collections:./collections
interpreter_python=/usr/bin/python3
[paramiko_connection]
record_host_keys = False
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
