---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kubeadm_worker_cluster_api_hostname }}:{{ kubeadm_worker_api_port }}
    token: {{ kubeadm_worker_join_command.stdout }}
    caCertHashes:
      - sha256:{{ kubeadm_worker_ca_hash.stdout | trim }}
  timeout: 5m0s
nodeRegistration:
  criSocket: {{ kubeadm_worker_cri_socket }}
  name: {{ inventory_hostname }}
  taints: []
  imagePullPolicy: IfNotPresent
  ignorePreflightErrors:
    - ImagePull
  kubeletExtraArgs:
    - name: root-dir
      value: /app/kubelet
patches:
  directory: /etc/kubernetes/kubeadm/patches